{% extends "customshippingrates/_layouts/base" %}

{% set rate = craft.customshippingrates.rate(rateId) %}

{% set title = "Edit Rate"|t %}

{% set content %}

    <form action="/actions/customShippingRates/main/editRate" method="post">
        {{ getCsrfInput() }}

        <h1>{{ rate.zip_code }}X</h1>

        <h2>SIZE 1</h2>

        <div class="variant-matrixblock matrixblock" style="padding: 25px;">

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Ground</label>

                </div>
                <div class="input ltr">
                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[ground1]"
                           value="{{ rate.ground1 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">2nd Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[second_day_air1]"
                           value="{{ rate.second_day_air1 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Next Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[next_day_air1]"
                           value="{{ rate.next_day_air1 }}">
                </div>
            </div>

        </div>

        <h2>SIZE 2</h2>

        <div class="variant-matrixblock matrixblock" style="padding: 25px;">

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Ground</label>

                </div>
                <div class="input ltr">
                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[ground2]"
                           value="{{ rate.ground2 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">2nd Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[second_day_air2]"
                           value="{{ rate.second_day_air2 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Next Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[next_day_air2]"
                           value="{{ rate.next_day_air2 }}">
                </div>
            </div>

        </div>

        <h2>SIZE 3</h2>

        <div class="variant-matrixblock matrixblock" style="padding: 25px;">

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Ground</label>

                </div>
                <div class="input ltr">
                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[ground3]"
                           value="{{ rate.ground3 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">2nd Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[second_day_air3]"
                           value="{{ rate.second_day_air3 }}">
                </div>
            </div>

            <div class="field" id="fields-metaTitle-field">
                <div class="heading">
                    <label id="fields-metaTitle-label" for="fields-metaTitle">Next Day Air</label>
                </div>
                <div class="input ltr">

                    <input class="text nicetext fullwidth" type="text" id="fields-metaTitle" name="rate[next_day_air3]"
                           value="{{ rate.next_day_air3 }}">
                </div>
            </div>

        </div>

        <input type="hidden" name="rate[rate_id]" value="{{ rate.id }}">

        <input type="submit" class="btn submit" value="Save">

    </form>


{% endset %}