{% extends "customshippingrates/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set centered = true %}

{% if zipcodeId is not defined %}{% set zipcodeId = null %}{% endif %}
{% if zipcode is not defined %}
    {% if zipcodeId %}
        {% set zipcode = craft.customshippingrates.getZipCodeById(zipcodeId) %}
        {% if not zipcode %}{% exit 404 %}{% endif %}
    {% else %}
        {% set zipcode = null %}
    {% endif %}
{% endif %}

{% set title = zipcode ? zipcode.code : "New Zip Code"|t %}

{% set crumbs = [
    { label: "Zip Code"|t, url: url('customshippingrates/zipcodes') }
] %}

{% set content %}

    <form method="post" action="/actions/customShippingRates/zipCodes/saveZipCode" accept-charset="UTF-8">
        {{ getCsrfInput() }}
        {#<input type="hidden" name="action" value="/actions/customShippingRates/main/saveZipCode" />#}
        <input type="hidden" name="redirect" value="customshippingrates/zipcodes/{zipcodeId}" />
        <input type="hidden" name="zipcodeId" value="{{ zipcodeId }}" />

        {{ forms.textField({
            label: 'Zip Code'|t,
            required: true,
            name: 'zipcode[code]',
            value: zipcode ? zipcode.code : null,
            errors: zipcode ? zipcode.errors('code') : null,
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>
    </form>

{% endset %}
