{% extends "customshippingrates/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Quoted Zip Codes"|t %}

{% set fullPageForm = true %}

{% set zipCodes = craft.customshippingrates.getAllZipCodes %}

{% set content %}

    <p id="nozip_codes"{% if zipCodes |length %} class="hidden"{% endif %}>
        {{ "No zip codes exist yet."|t }}
    </p>

    {% if zipCodes|length %}
        <table id="zip_codes" class="data">
            <thead>
            <th scope="col">{{ "Name"|t }}</th>
            <th class="thin"></th>
            </thead>
            <tbody>

            {% for zipCode in zipCodes %}
                <tr data-id="{{ zipCode.id }}" data-name="{{ zipCode.code }}">
                    <td><a href="{{ url('customshippingrates/zipcodes/'~zipCode.id) }}">{{ zipCode.code }}</a></td>
                    <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('customshippingrates/zipcodes/new') }}" class="btn add icon">{{ "New Zip code"|t }}</a>
    </div>

{% endset %}

{% set js %}
    new Craft.AdminTable({
    tableSelector: '#zip_codes',
    noObjectsSelector: '#noizip_codes',
    deleteAction: 'customShippingRates/zipCodes/deleteZipCode'
    });
{% endset %}
{% includeJs js %}