{% extends "_layouts/cp" %}

{% set bodyClass = craft.request.getSegments()|slice(0, 3)|join(' ') %}

{% set subnav = {
	index: {
		label: "Rates Table"|t,
		url: url('customshippingrates/')
	},
	zipcodes : {
		label: "Zipcodes quoted"|t,
		url: url('customshippingrates/zipcodes')
	}
} %}

{% set segment2 = craft.request.segment(2) %}

{% if segment2 %}

    {% set selectedSubnavItem = segment2 %}

{% else %}

    {% set selectedSubnavItem = 'index' %}

{% endif %}