{% extends "customshippingrates/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Custom Shipping Rates"|t %}

{% set fullPageForm = true %}

{% block main %}


    <div class="tableview">
        <table class="data fullwidth">
            <thead>
            <tr>
                <th scope="col"></th>

                <th scope="col" class="table-header" style="text-align: center" colspan="3">SIZE 1</th>

                <th scope="col" class="table-header" style="text-align: center" colspan="3">SIZE 2</th>

                <th scope="col" class="table-header" style="text-align: center" colspan="3">SIZE 3</th>
            </tr>
            <tr>
                <th scope="col" >ZIP CODE</th>
                <th scope="col" >Ground</th>
                <th scope="col" >2dn Day Air</th>
                <th scope="col" >Next Day Air</th>
                <th scope="col" >Ground</th>
                <th scope="col" >2dn Day Air</th>
                <th scope="col" >Next Day Air</th>
                <th scope="col" >Ground</th>
                <th scope="col" >2dn Day Air</th>
                <th scope="col" >Next Day Air</th>
            </tr>
            </thead>
            <tbody>

            {% for rate in craft.customshippingrates.rates %}
                <tr data-id="1" >

                    <td><span class="status live"></span>
                        <a href="/admin/customshippingrates/edit/{{ rate.id }}">{{ rate.zip_code }}X</a>
                    </td>
                    <td>$ {{ rate.ground1 }}</td>
                    <td>$ {{ rate.second_day_air1 }}</td>
                    <td>$ {{ rate.next_day_air1 }}</td>
                    <td>$ {{ rate.ground2 }}</td>
                    <td>$ {{ rate.second_day_air2 }}</td>
                    <td>$ {{ rate.next_day_air2 }}</td>
                    <td>$ {{ rate.ground3 }}</td>
                    <td>$ {{ rate.second_day_air3 }}</td>
                    <td>$ {{ rate.next_day_air3 }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <style>
        .table-header{
            background-color: #ebedef;
            border: #dad8d8 1px solid;
            margin: 2px;
        }
    </style>

{% endblock %}